.review-slider {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: 576px) {
    flex-direction: column;
  }

  @media (min-width: 768px) {
    flex-direction: column;
  }

  @media (min-width: 992px) {
    flex-direction: column;
  }

  @media (min-width: 1200px) {
    flex-direction: column;
  }

  &__left,
  &__right {
    flex: 1;
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: center;

    .review-slider__video {
      width: 100%;
      height: 100%;
      min-height: 50vh;

      border-radius: 15px;

      @media (min-width: 344px) {
        min-height: 20vh;
        min-width: 20vh;
      }
      @media (min-width: 360px) {
        min-height: 20vh;
        min-width: 40vh;
      }
      @media (min-width: 414px) {
        min-height: 30vh;
        min-width: 40vh;
      }
      @media (min-width: 430px) {
        min-height: 30vh;
        min-width: 40vh;
      }
      @media (min-width: 576px) {
        min-height: 40vh;
        min-width: 50vh;
      }

      @media (min-width: 768px) {
        min-height: 40vh;
        min-width: 50vh;
      }

      @media (min-width: 853px) {
        min-height: 30vh;
        min-width: 50vh;
      }
      @media (min-width: 912px) {
        min-height: 30vh;
        min-width: 50vh;
      }
      @media (min-width: 992px) {
        min-height: 60vh;
        min-width: 100vh;
      }

      @media (min-width: 1024px) {
        min-height: 30vh;
        min-width: 50vh;
      }
      @media (min-width: 1200px) {
        min-height: 70vh;
        min-width: 100vh;
      }
      @media (min-width: 1280px) {
        min-height: 60vh;
        min-width: 100vh;
      }
    }
  }
}

.head-text {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 4rem;

  @media (max-width: 576px) {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  @media (min-width: 992px) {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  span {
    color: #333;
  }
}
